In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import Column, ForeignKey, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [2]:
Base = declarative_base()
engine = create_engine('sqlite:///Mood2Food.db')

In [3]:
class ChooseMood(Base):
    __tablename__ = 'choosemood'
    mood = Column(String(15), primary_key = True)
    color = Column(String(20), nullable = False)
    color_hex = Column(String(7), nullable = False)
    color_r = Column(Integer, nullable = False)
    color_g = Column(Integer, nullable = False)
    color_b = Column(Integer, nullable = False)

class Mood2Category(Base):
    __tablename__ = 'mood2category'
    category = Column(String(10), primary_key = True)
    mood = Column(String(15), ForeignKey("choosemood.mood"))
    act_mood = relationship(ChooseMood)
    
class Category2Food(Base):
    __tablename__ = 'category2food'
    food = Column(String(50), primary_key = True)
    category = Column(String(10), ForeignKey("mood2category.category"))
    url = Column(String(100))
    image = Column(String(200))
    act_category = relationship(Mood2Category)

Base.metadata.create_all(engine)

In [4]:
moods = pd.read_csv("Data/Moods.csv")
moods.head()

   emotion  colors Hex Code#RRGGBB Decimal Code\r\n(R,G,B)
0    happy  yellow         #FFFF00             (255,255,0)
1      sad    blue         #6495ED            -100,149,237
2     calm   green         #90EE90            -144,238,144
3  excited     red         #FF4500              (255,69,0)
4  anxious     red         #FF0000               (255,0,0)

In [5]:
moods[["R", "G", "B"]] = moods["Decimal Code\r\n(R,G,B)"].str.replace("[\)\(]", "").str.split(",", expand = True)
moods = moods.drop(columns=["Decimal Code\r\n(R,G,B)"])

In [6]:
moods.columns = ["mood", "color", "color_hex", "color_r", "color_g", "color_b"]

In [7]:
moods.head()

      mood   color color_hex color_r color_g color_b
0    happy  yellow   #FFFF00     255     255       0
1      sad    blue   #6495ED    -100     149     237
2     calm   green   #90EE90    -144     238     144
3  excited     red   #FF4500     255      69       0
4  anxious     red   #FF0000     255       0       0

In [8]:
category = pd.read_csv("Data/Mood2Category.csv")
category = category[["Category", "Mood"]]
category["Mood"] = category["Mood"].str.lower()
category.head()

  Category     Mood
0     Meat    angry
1    Tough    angry
2  Crunchy    angry
3    Sugar      sad
4    Sweet  anxious

In [11]:
food = pd.read_csv("Data/Category2Food.csv")
food.head()

,Category,Food name,url,image,Unnamed: 4
0,Meat,Beef Brisket,https://www.simplyrecipes.com/recipes/beef_bri...,https://www.simplyrecipes.com/wp-content/uploa...,NaN
1,Meat,Beef & Noodles,https://www.yummly.com/recipe/Lazy-Beef-_-Nood...,https://lh3.googleusercontent.com/IhnHnr_NuSaX...,NaN
2,Meat,Firecracker Chicken,https://www.yummly.com/recipe/Firecracker-Chic...,https://lh3.googleusercontent.com/fCsWC1ZPIIDa...,NaN
3,Meat,Hawaiian Meatballs,https://www.yummly.com/recipe/Hawaiian-Meatbal...,https://lh3.googleusercontent.com/Iiiq3DlPb6kD...,NaN
4,Tough,Hidden Valley Candied Nuts,https://www.yummly.com/recipe/Hidden-Valley-Ca...,https://www.yummly.com/recipe/Hidden-Valley-Ca...,NaN

In [9]:
food = pd.read_csv("Data/Category2Food.csv")
food.columns = ["category", "food", "url", "image"]
food = food[["food", "category", "url", "image"]]
food.head()

ValueError: Length mismatch: Expected axis has 5 elements, new values have 4 elements

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
db_moods = {}
for i in range(len(moods)):
    db_moods[moods["mood"][i]] = ChooseMood(mood = moods["mood"][i],
              color = moods["color"][i],
              color_hex = moods["color_hex"][i],
              color_r = moods["color_r"][i],
              color_g = moods["color_g"][i],
              color_b = moods["color_b"][i])

In [ ]:
db_categories = {}
for i in range(len(category)):
    db_categories[category["Category"][i]] = Mood2Category(category = category["Category"][i],
                                                           mood = category["Mood"][i],
                                                           act_mood = db_moods[category["Mood"][i]])

In [ ]:
db_foods = {}
for i in range(len(food)):
    db_foods[food["food"][i]] = Category2Food(food = food["food"][i],
                                              category = food["category"][i],
                                              ingredients = food["ingredients"][i],
                                              directions = food["directions"][i],
                                              url = food["url"][i],
                                              act_category = db_categories[food["category"][i]])

In [ ]:
db_categories.keys()

In [ ]:
session.add_all(db_moods.values())

In [ ]:
session.commit()

In [ ]:
session.add_all(db_categories.values())

In [ ]:
session.commit()

In [ ]:
session.add_all(db_foods.values())

In [ ]:
session.commit()

In [ ]:
session.close()